.main-image {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 75vh;
}

.main-image>img {
  width: 100%;
  height: 100%;
}

.main-image>.image-description {
  position: absolute;
  left: 32px;
  bottom: 32px;
  font-size: 120%;
  color: var(--textWhite);
}

.card {
  flex-direction: row;
  display: flex;
  width: 100%;
  background-color: var(--primaryColor);
}

.card>.card-image {
  margin: 32px;
  width: 50%;
  object-fit: cover;
}

.card>.card-description {
  margin: 32px;
  width: 50%;
  font-size: 120%;
}

.card-alt {
  flex-direction: row;
  display: flex;
  width: 100%;
  background-color: var(--secondaryColor);
}

.card-alt>.card-knowmore {
  margin: 32px;
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  font-size: 120%;
  text-align: center;
}

.button-group>button {
  margin-top: 12px;
  padding: 15px;
  border: none;
  background-color: var(--tertiaryColor);
  cursor: pointer;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  color: var(--textWhite);
  transition: background-color 0.5s;
}

.button-group>button:hover {
  background-color: var(--accentTertiaryColor);
}

.card-alt>.card-image {
  width: 25%;
  margin: 32px;
  object-fit: cover;
}