.main-image {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 75vh;
}

.main-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-image>.image-description {
  position: absolute;
  color: #fafafa;
  font-size: 120%;
  left: 32px;
  bottom: 32px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--primaryColor);
}

.card>.card-image {
  width: 50%;
  margin: 32px;
  object-fit: cover;
}

.card>.card-description {
  width: 50%;
  font-size: 120%;
  margin: 32px;
}

.card-alt {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--altColor);
}

.card-alt>.card-knowmore {
  width: 50%;
  margin: 32px;
  font-size: 120%;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.button-group>button {
  border: none;
  background-color: var(--altColor2);
  color: var(--textColor);
  font-weight: bold;
  text-align: center;
  padding: 15px;
  font-size: 100%;
  margin-top: 12px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.button-group>button:hover {
  background-color: var(--accentAltColot2);
}

.card-alt>.card-image-left {
  width: 25%;
  margin: 32px;
  object-fit: cover;
}

.card-alt>.card-image-right {
  width: 25%;
  margin: 32px;
  object-fit: cover;
}