@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

:root {
    --primaryColor: #42A5F5; /* BLUE 400 */
    --accentColor: #1976D2; /* BLUE 700 */
    --textColor: #FAFAFA; /* GREY 50 */
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #ECEFF1;
    color: #FAFAFA;
}

.main-image {
    position: relative;
    width: 100%;
    height: 75vh;
}

.main-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-image>.image-description {
    position: absolute;
    color: #FAFAFA;
    font-size: 130%;
    left: 32px;
    bottom: 32px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--primaryColor);
}

.card>.card-image {
    width: 50%;
    margin: 32px;
    object-fit: cover;
}

.card>.card-description {
    width: 50%;
    font-size: 150%;
    margin: 32px;
}