.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 100%;
    background-color: var(--primaryColor);
}

.nav-header {
    display: inline;
}

.nav-header>.nav-title {
    display: inline-block;
    height: 100%;
    padding: 16px;
    padding-left: 64px;
}

.nav-links {
    display: inline-block;
}

.nav-links>ul {
    list-style: none;
    padding: 0;
    padding-right: 64px;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    padding: 16px;
    margin-left: -6px;
    transition: background-color 0.5s;
}

.nav-links i {
    padding-right: 4px;
}

.active {
    background-color: var(--accentColor);
}

.nav-links li:hover {
    background-color: var(--accentColor);
}

.nav-links li>a {
    text-decoration: none;
    color: var(--textColor);
}