@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");

:root {
    --primaryColor: #42a5f5;
    --accentColor: #1976d2;
    --secondaryColor: #f55742;
    --tertiaryColor: #f5b042;
    --accentTertiaryColor: #FFA000;
    --textBlack: #34495e;
    --textWhite: #fafafa;
}

body {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    background-color: #eceff1;
    color: #fafafa;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 100%;
    background-color: var(--primaryColor);
    box-shadow: 0px 1px 5px 0px black;
}

.nav-header {
    display: inline;
}

.nav-header>.nav-title {
    display: inline-block;
    height: 100%;
    padding: 16px;
    margin-left: 32px;
}

.nav-links {
    display: inline-block;
}

.nav-links>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 32px;
}

.nav-links li {
    display: inline-block;
    padding: 16px;
    margin-left: -6px;
    transition: background-color 0.5s;
}

.nav-links i {
    padding-right: 4px;
}

.active {
    background-color: var(--accentColor);
}

.nav-links li:hover {
    background-color: var(--accentColor);
}

.nav-links li>a {
    text-decoration: none;
    color: var(--textColor);
}

/* FOOTER */
.footer-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--textBlack);
    color: var(--textColor);
    font-size: 100%;
    padding: 20px;
    box-shadow: 0px -1px 5px 0px black;
}