.flex-personagem {
    display: flex;
    flex-direction: column;
}

.personagem-item {
    display: flex;
    flex-direction: row;
    background-color: var(--primaryColor);
    color: black;
    margin: 30px;
}

.personagem-item > img {
    min-height: 300px;
}

.personagem-item > .desc {
    color: white;
    font-size: 120%;
    padding: 32px;
    text-align: justify;
}