:root {
    --primaryColor: #42a5f5;
    --accentColor: #1976d2;
    --secondaryColor: #f55742;
    --tertiaryColor: #f5b042;
    --accentTertiaryColor: #FFA000;
    --textBlack: #34495e;
    --textWhite: #fafafa;
}

.grid-container {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.25fr 3fr;
    grid-template-areas: 
    "title image"
    "text  image";
    border: 2px solid var(--textBlack);
    border-radius: 5px;
    height: 45rem;
    margin: 1em;
    box-shadow: 9px 12px 26px -4px rgba(0,0,0,0.68);
}

.about-title {

    /* grid-column: 1 / 2; */
    /* grid-row: 1 / 2; */
    /* ? ROW-START / COLUMN-START / ROW-END / COLUMN-END*/
    /* grid-area: 1 / 1 / 2 / 2; */
    grid-area: title;
    background-color: var(--textBlack);
    text-align: center;
}

.about-text {

    grid-area: text;
    background-color: var(--accentColor);
    text-align: justify;
    padding: 20px;
    text-overflow: ellipsis; 
}

.title {

    text-align: center;
}

.about-img {

    grid-area: image;
    background: url('../img/about.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-dev-team {

    background: url('../img/dev_team.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 120px;
    box-shadow: 3px 5px 12px -2px rgba(0,0,0,0.74);
}